.video_container{
    position: relative;    
}

video{
    height: auto;
    vertical-align: middle;
    width: 100%;
}
.overlay-desc{
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    margin:20%;
    color: white;
    font-family: 'Nobile', sans-serif;
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
  }

.loginalert{
    width:70%;
    /* margin:0px auto;    */
}
/* body{
    padding:0px;
} */
