extends ../common/layout

block content 
    .container
        .row
            .col-md-12
                .pr-wrap
                    .pass-reset
                        label
                            | Enter the email you signed up with
                        input(type="email", placeholder="Email")
                        input.pass-reset-submit.btn.btn-success.btn-sm(type="submit", value="Submit")
                .wrap
                    p.form-title
                        | Sign In
                    form.login(action="login_post", method="POST")
                        input(type="text", placeholder="Username",name="username")
                        input(type="password", placeholder="Password",name="password")
                        input.btn.btn-success.btn-sm(type="submit", value="Sign In")
                        .remember-forgot
                            .row
                                .col-md-6
                                    .checkbox
                                        label
                                            input(type="checkbox")
                                            |                                     Remember Me
                                .col-md-6.forgot-pass-content
                                    a.forgot-pass(href="javascript:void(0)") Forgot Passwords
            link(href="/stylesheets/login.css", rel="stylesheet")

