extends ../common/layout

block nav_bar
block left_pills
block append head
    script(src="/js/main/login.js")
    link(href="/stylesheets/login.css", rel="stylesheet")
    .container
        .row
            .col-md-12
                .pr-wrap
                    .pass-reset
                        label
                            | Enter the email you signed up with
                        input(type="email", placeholder="Email")
                        input.pass-reset-submit.btn.btn-success.btn-sm(type="submit", value="Submit")
                .wrap
                    p.login_message.form-title=exction
                    p.form-title
                        | Sign In
                        .alert_error.alert.alert-danger(role='alert')
                            .alert_error_message.strong
                    form.login(action="index", method="POST",onsubmit='return chk();')
                        input.username(type="text", placeholder="Username",name="username")
                        input.password(type="password", placeholder="Password",name="password")
                        input#signin_btuuon.btn.btn-success.btn-sm(type="submit", value="Sign In")
                        .fb-login-button(data-width="250",data-max-rows='1', data-size='medium', data-button-type='continue_with', data-show-faces='true', data-auto-logout-link='false', data-use-continue-as='true',onlogin)
                        .remember-forgot
                            .row
                                .col-md-6
                                    .checkbox
                                        label
                                            input(type="checkbox")
                                            |                                     Remember Me
                                .col-md-6.forgot-pass-content
                                    a.forgot-pass(href="javascript:void(0)") Forgot Passwords

                    

