extends ../common/layout


block append nav_bar
    h1=title
    #example_01
    hr
    #example_02
    hr
    #example_03
    hr
    #example_04
    hr
    #example_05
    hr
    #example_06
 

    script(src="/babel/browser.min.js")
    script(type="text/babel", src='../js/example/example03.js')



