extends ../common/layout

block carousel
block append nav_bar
block  left_pills
    h1=title
    .container.col-sm-9
        h2 ex5
             

 

    script(src="/babel/browser.min.js")
    script(type="text/babel", src='../js/example/example05.js')
    link(href="/stylesheets/example/example05.css", rel="stylesheet")



