link(href="/stylesheets/left_pills.css", rel="stylesheet")
#left_pills.container.col-sm-2
  ul.nav.nav-pills.nav-stacked
    li.active
      a(href='#') Home
        span.glyphicon.glyphicon-home.pull-right
    li
      a(href='#') Menu 1
        span.glyphicon.glyphicon-chevron-right.pull-right
    li
      a(href='#') Menu 2
        span.glyphicon.glyphicon-chevron-right.pull-right
    li
      a(href='#') Menu 3
        span.glyphicon.glyphicon-chevron-right.pull-right
    li
      a(href='#') Menu 1
        span.glyphicon.glyphicon-chevron-right.pull-right
    li
      a(href='#') Menu 2
        span.glyphicon.glyphicon-chevron-right.pull-right
    li
      a(href='#') Menu 3
        span.glyphicon.glyphicon-chevron-right.pull-right
    