extends layout

block nav_top_bar 

.container
  // Topper w/ logo
  .row.hidden-xs.topper
    .col-xs-7.col-sm-7
      a(href='//convertify.io')
        img.img-responsive(am-toplogo='', alt='SECUREVIEW', src='http://blog.convertify.io/assets/images/logo--hero.png')
    .col-xs-5.col-xs-offset-1.col-sm-5.col-sm-offset-0.text-right
      p(am-callnow='') 1 (888) CALL - NOW
  // End Topper
  // Navigation
  .row
    nav.navbar.navbar-inverse(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.visible-xs-inline-block.nav-logo(href='/')
            img.img-responsive(src='/images/logo-dark-inset.png', alt='')
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.js-nav-add-active-class
            li
              a(href='/index.html') Home
            li.active
              a(href='/markets.html') Markets
            li
              a(href='/buy.html') Buy
            li
              a(href='/svstrike.html') svStrike
            li
              a(href='/training.html') Training
            li
              a(href='/contact.html') Contact Us
            li.visible-xs-block
              a(href='/about.html') About Us
            li.visible-xs-block
              a(href='/careers.html') Careers
            li.visible-xs-block
              a(href='/press-release.html') Press Release
            li.visible-xs-block
              a(href='https://susteen7.zendesk.com/hc/en-us') Support
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Company 
                b.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='about.html') About Us
                li
                  a(href='careers.html') Careers
                li
                  a(href='press-release.html') Press Release
          ul.nav.navbar-nav.navbar-right.hidden-xs
            a.navbar-btn.btn.btn-gradient-blue(type='button', am-latosans='bold', href='https://susteen7.zendesk.com/hc/en-us') Support
        // /.navbar-collapse
