.container
  // --navbar---------------
  nav.navbar.navbar-default(role='navigation')
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Software Solutions
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='#')
              span.glyphicon.glyphicon.glyphicon-home
              |  Home
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='false')
              span.glyphicon.glyphicon.glyphicon-user
              |           About Us
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#')
                  span.glyphicon.glyphicon.glyphicon-chevron-right
                  |  Vission
              li
                a(href='#')
                  span.glyphicon.glyphicon.glyphicon-chevron-right
                  |  Mission
              li
                a(href='#')
                  span.glyphicon.glyphicon.glyphicon-chevron-right
                  |  Portfolio
          li
            a(href='#')
              span.glyphicon.glyphicon.glyphicon-pencil
              |  Testimonial
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#')
              span.glyphicon.glyphicon.glyphicon-paperclip
              |  Broucher
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='false')
              span.glyphicon.glyphicon.glyphicon-earphone
              |           Contact 
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#')
                  span.glyphicon.glyphicon.glyphicon-screenshot
                  |  Sitemap
              li
                a(href='#')
                  span.glyphicon.glyphicon.glyphicon-user
                  |  Career
      // /.navbar-collapse
    // /.container-fluid
// --/////----navbar---------------
    
