link(href="/stylesheets/nav-bar.css", rel="stylesheet") 
nav.navbar.navbar-default.navbar-inverse.top_navbar(role='navigation')
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#')=Accounts 
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown',style="font-size: 150%")
            | 訓練(training)
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='/steve/chest') 胸(Chest)
            li
              a(href='#') 背(Back)
            li
              a(href='#') 腿(Leg)
            li
              a(href='#') 肩(Leg)
            li
              a(href='#') 手(Leg)
            li.divider
            li.disabled  
              a(href='#') 以下Bootstrap 功能測試
            li.divider 
            li
              a(href='/steve/test_modal') modal測試
            li
              a(href='/steve/bootstrap_tab_test') tab分頁測試
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | 飲食(diet) 
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#') 大便
            li
              a(href='#') 大便
            li
              a(href='#') Something else here
            li.divider
            li
              a(href='#') Separated link
            li.divider
            li
              a(href='#') One more separated link
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | 放鬆按摩 
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='') 待補
            li
              a(href='') 待補
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | 自主練習(example) 
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='/example/example01') example01(react)
            li
              a(href='/example/example02') example02(react)
            li
              a(href='/example/example03') example03(react)
            li
              a(href='/example/example04') example04(leetcode練習)    
      form.navbar-form.navbar-left(role='search')
        .form-group
          input.form-control(type='text', placeholder='Search')
        button.btn.btn-default(type='submit') Submit
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/steve/admin_index') 後台設定 
        li
          p.navbar-text Already have an account?
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            b Login
            span.caret
          ul#login-dp.dropdown-menu
            li
              .row
                .col-md-12
                  | Login via
                  .social-buttons
                    a.btn.btn-fb(href='#')
                      i.fa.fa-facebook
                      |  Facebook
                    a.btn.btn-tw(href='#')
                      i.fa.fa-twitter
                      |  Twitter
                  |or
                  form#login-nav.form(role='form', method='post', action='login', accept-charset='UTF-8')
                    .form-group
                      label.sr-only(for='exampleInputEmail2') Email address
                      input#exampleInputEmail2.form-control(type='email', placeholder='Email address', required='')
                    .form-group
                      label.sr-only(for='exampleInputPassword2') Password
                      input#exampleInputPassword2.form-control(type='password', placeholder='Password', required='')
                      .help-block.text-right
                        a(href='') Forget the password ?
                    .form-group
                      button.btn.btn-primary.btn-block(type='submit') Sign in
                    .checkbox
                      label
                        input(type='checkbox')
                        |  keep me logged-in
                .bottom.text-center
                  | New here ? 
                  a(href='#')
                    b Join Us